$nutral:  #c0c2c5 !default;


$badge-font-size:                   .75rem;
$badge-font-weight:                 400;
$badge-border-radius:               12px;

html{
    direction: ltr;
}


.btn-sm, .form-control-sm {
    font-size: 14px !important;
    line-height: 20px !important;
}
.btn-lg, .form-control-lg{
    font-size: 16px !important;
    line-height: 24px !important;
}
.selectize-lg{
    .selectize-input{
        font-size: 16px !important;
        line-height: 24px !important;
    } 
}
.selectize-sm{
    .selectize-input{
        padding-top: 4px;
        padding-bottom: 4px;
    }
}

.input-group-lg{
    input{
        font-size: 16px;
        line-height: 24px !important;
    }
}

.input-group-sm{
    .btn{
        font-size: 14px !important;
        line-height: 20px !important;
    }
    input{
        font-size: 14px !important;
        line-height: 20px !important;
    }
}

.btn{
    span{
        flex-direction: row#{"/*!rtl:row-reverse!important*/"};
        /*rtl:ignore*/
        span{
            margin-right: 0.5rem;
        }
    }
    
    &.btn-box{
        padding-left: 8px;
        padding-right: 8px;
    }
    &.btn-sm{
        &.btn-box{
            padding-left: 8px;
            padding:6px;
        }
    }
    &.btn-lg{
        &.btn-box{
            padding-left: 12px;
            padding-right: 12px;
        }
    }
}

.input-group{
    // .btn{
    //     border-top-right-radius: 0;
    //     border-bottom-right-radius: 0;
    //     border-top-left-radius: 4px;
    //     border-bottom-left-radius: 4px;
    // }
    .form-control{
        font-size: 14px;
    }
}

.input-prefix-icon{
    position: relative;
    &.input-prefix-icon-lg{
        .input-icon{
            position: absolute;
            top: 0px;
            left: 0px;
            height: 50px;
            display: flex;
            align-items: center;
            padding: 12px;
        }
        .form-control-lg{
            padding-left: 48px;
        }
    }
    .input-icon{
        position: absolute;
        top: 0px;
        left: 0px;
        height: 42px;
        display: flex;
        align-items: center;
        padding: 12px;
    }
    .form-control{
        padding-left: 48px;
    }
    
}



@media only screen and (max-width: 1200px) and (min-width:576px) {
    .content-main{
        margin-left: 80px !important;
    }
    .babel-navbar{
        width: calc(100% - 68px); 
    }
}

@include media-breakpoint-up(xl) {
    .content-main{
        margin-left: 280px !important;
    }
}

@media only screen and (max-width: 576px) {
    .babel-navbar{
        width: 100%;
    }
    html {
        font-size: 14px;
    }
    .brand{
        img{
            width: 32px !important;
            height: 32px !important;
        }
    }
    .avatar-user{
        width: 32px !important;
        height: 32px !important;
    }

    .content-top{
        top:60px !important;
    }
}

.content-top{
    top:80px;
}

.content-main{
    margin-left: 0px;
}

.babel-navbar{
    padding-top:12px; 
    padding-bottom:12px; 
    position: fixed; 
    z-index: 10;
    color:$dark;

    .input-group{
        .form-control{
            width: 300px;
            border-top-right-radius: 0.2rem !important;
            border-bottom-right-radius: 0.2rem !important;
        }
        .icon-search{
            position: absolute;
            top:14px;
            right: 8px;
            color: $gray-600;
            z-index: 8;
        }
    }
}

.theme-switcher{
    border-radius: 24px;
    margin:2px;
    padding: 4px;
    
    a{
        color:$dark;
        border-radius: 24px;
        border: 2px solid transparent;

        &:hover{
            background-color: $light;
            color:$dark;
            border: 2px solid $dark;
        }
    }
    .active-theme{
        background-color: $dark;
        color:$light;
        &:hover{
            background-color: $dark;
            color:$light;
        }
    }
}


@include media-breakpoint-up(xl) {
    .babel-navbar{
        width: calc(100% - 280px); 
    }
}

.goog-te-banner{
    display: none;
}

.text-sm{
    font-size: 0.75rem;
    line-height: 1.125rem;
}

.text-md{
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.text-lg{
    font-size: 1.125rem;
    line-height: 1.625rem;
}

a{
    cursor: pointer;
}

// remove this once the colors are finalised 
@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}

@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}


@for $i from 0 through 10 {
    .primary-shade-#{$i} {
        background-color: shade($primary, $i*10%);
    }
    .success-shade-#{$i} {
        background-color: shade($success, $i*10%);
    }
    .info-shade-#{$i} {
        background-color: shade($info, $i*10%);
    }
    .warning-shade-#{$i} {
        background-color: shade($warning, $i*10%);
    }
    .danger-shade-#{$i} {
        background-color: shade($danger, $i*10%);
    }
    .nutral-shade-#{$i} {
        background-color: shade($nutral, $i*10%);
    }
    .nutral-shade2-#{$i} {
        background-color: shade(#5b7998, $i*10%);
    }
}

.primary-shade-15{
    background-color: shade($primary, 15%);
}

@for $i from 0 through 10 {
    .primary-tint-#{$i} {
        background-color: tint($primary, $i*10%);
    }
    .success-tint-#{$i} {
        background-color: tint($success, $i*10%);
    }
    .info-tint-#{$i} {
        background-color: tint($info, $i*10%);
    }
    .warning-tint-#{$i} {
        background-color: tint($warning, $i*10%);
    }
    .danger-tint-#{$i} {
        background-color: tint($danger, $i*10%);
    }
    .nutral-tint-#{$i} {
        background-color: tint($nutral, $i*10%);
    }
    .nutral-tint2-#{$i} {
        background-color: tint(#5b7998, $i*10%);
    }
}

.box{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-md{
    font-size: 1.5rem;
}

.icon-sm{
    font-size: 1rem;
}

.dropdown-item{
    font-weight: 500;
}

@mixin switch($res: 'sm') {
    $index: 1rem;
    $mainVal: 1rem;
  
    @if $res == 'md' {
        $index: 2rem;
        $mainVal: 1.5rem;
    } @else if $res == 'lg' {
        $index: 3rem;
        $mainVal: 2rem;
    } @else if $res == 'xl' {
        $index: 4rem;
        $mainVal: 2.5rem;
    }

    

    .form-check-input {
        height: $mainVal;
        width: calc(#{$index} + 0.75rem);
        border-radius: $mainVal * 2;
    }
}

.form-check-input {
  clear: left;
}

// YOU CAN PUT ALL RESOLUTION HERE
// sm - DEFAULT, md, lg, xl

.form-switch.form-switch-sm {
    @include switch();
}

.form-switch.form-switch-md {
    @include switch('md');
}

.form-switch.form-switch-lg {
    @include switch('lg');
}

.form-switch.form-switch-xl {
    @include switch('xl');
}

.selectize-lg{
    .selectize-input{   
        padding-top:12px;
        padding-bottom: 12px;
        font-size: 1.25rem;
        line-height: 1.5;
    }
}

.selectize-sm{
    .selectize-input{   
        font-size: 0.875rem;
        line-height: 1.5;
        min-height: 10px;
    }
}

.selectize-dropdown{
    font-size: 14px;
    line-height: 20px;
    .selectize-dropdown-content{
        padding: 0px;
        .option{
            padding: 0.75rem;
        }
        
    }
}

.page-item{
    margin-right: 12px;
    .page-link{
        border-radius: 8px !important;
    }
   
}

.brand{
    img{
        width: 48px;
        height: 48px;
    }
}

.avatar-user{
    width: 48px;
    height: 48px;
}

.form-select{
    -webkit-appearance:none !important;
}
select{
    -webkit-appearance:none !important;
}

.nav-search {
    .btn-outline-secondary{
        &:hover{
            background-color: transparent;
            color: $dark;
        }
        &:focus{
            box-shadow: none !important;
        }
        &.show{
            background-color: transparent;
            color: $dark;
        }
    }
}

// .flex-row{
//     flex-direction: row #{"/*!rtl:row-reverse!important*/"};
// }

.bi-breadcrumb{
    .breadcrumb-inner{
        display: flex;
        flex-direction: row #{"/*!rtl:row-reverse!important*/"};
        .icon-chevron--right{
            transform: scaleX(1) #{"/*!rtl:scaleX(-1)*/"};
        }
    }
    
}